a:hover {
  color: #ddc2a1;
}

.css-2ux37u {
  background-color: #c67f22 !important;
}
form.signup-form {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin-top: 77px;
  padding: 47px;
  background: aliceblue;
  font-size: 18px;
  border: 3px solid #0000009e;
  border-radius: 13px;
}

button.sumbit-signup {
  margin: 20px;
  background: black;
  color: white;
  border-radius: 5px;
  padding: 3px 13px;
}

label.hasWhatsappCheckBox {
  font-size: 12px;
  margin-top: 16px;
}

span.error {
  color: red;
  margin-bottom: 20px;
  width: 300px;
}


.signup-form label {
  margin-top: 20px;
}

.user-profile {
  color: #eed7bd;
  position: absolute;
  left: 10%;
}

@media only screen and (max-width: 650px) {  
  .user-profile {
    position: absolute;
    left: unset;
    margin-bottom: 52px;
  }
}

.App {
  text-align: center;
  position: relative;
}
.add-vehicle-page .css-1s2u09g-control {
  height: 42px;
}

img {
  max-width: 100% !important;
  max-height: 100% !important;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 0;
  margin: auto;
  min-width: 100%;
}

.main-nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.mailbox-nav {
  font-size: 20px;
  background: aliceblue;
  display: flex;
  margin-left: auto;
  align-items: center;
  height: 55px;
  margin-right: auto;
  width: 80%;
  justify-content: center;
  margin-bottom: 20px;
}
nav.mailbox-nav div {
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
}

.mailbox-nav-btn {
  position: absolute;
  right: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* GOOGLE BUTTOn */
.signin-with-google-btn {
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.signin-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.signin-with-google-btn:active {
  background-color: #eeeeee;
}
.add-vehicle-page .MuiButton-outlinedPrimary.MuiButton-sizeSmall.MuiButton-outlinedSizeSmall.MuiButtonBase-root.css-1k23hlb-MuiButtonBase-root-MuiButton-root:hover {
  background: #1565c0;
}
.signin-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.signin-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.mobile-search-side-menu{
  display: none;
}

.search {
  background: aliceblue;
  max-width: 259px;
  padding: 50px 33px;
  position: sticky;
  top: 0px;
  height: 100vh;
}
.search input#location-field {
  width: 192px;
  height: 37.5px;
  text-align: center;
  border: solid gray 0.1px;
  border-radius: 3px;
}
.search > span {
  display: inline-block;
  width: 193px;
  margin-top: 30px;
}

.search span.price {
  font-size: 12px;
}

.search h4 {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 16px;
}

.search .radius {
  margin-top: 10px;
}
.search .radius-title {
  font-size: 13.5px;
}
.search .radius input[type="number"] {
  width: 80px;
  height: 17px;
  font-size: 12px;
}


.filter-price {
  display: flex;
  background: #f3f3f3;
  justify-content: center;
  margin: 50px 48px 0;
  padding: 10px;
  border-bottom: solid 1px;
}

.filter-price span.price {
  display: flex;
  align-items: center;
  padding-right: 49px;
}
.filter-price button.filter {
    background: #ec884e;
}

.sort-by {
  margin-left: 29px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 10px 30px;
}

.sort-by .css-1s2u09g-control {
  width: 150px;
}

.sort-title {
  margin-right: 15px;
}

.search button.search-btn {
  margin: 21px;
  background: black;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 1px;
  padding: 8px;
  margin-top: 50px;
  border-radius: 3px;
}

.vehicles-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}
.vehicle-card {
  margin: 10px;
  height: min-content;
  width: 295px;
  position: relative;
}

.vehicle-card .price {
  font-size: 20px;
  font-weight: 600;
}
.vehicle-card .short-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  bottom: 7px;
}
.vehicle-card .short-desc p{
  max-height: 20px;
}
.add-item-desc {
  font-family: 'Roboto' !important;
}
.add-vehicle-page input {
  width: 192px;
  height: 37.5px;
  text-align: center;
  border: solid gray 0.1px;
  border-radius: 3px;
}

.vehicle-card .modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: lightgrey;
}

.vehicle-card .modal-footer .error{
  color: red;
}

.vehicle-card img {
  margin-bottom: 10px;
}

.vehicle-card .modal-header {
  background-color: #ffc107;
  justify-content: center;
}

.vehicle-card .modal-body {
  margin-top: 20px;
}
.vehicle-card .modal-body p {
  padding: 10px 73px;
}

.vehicle-card .modal-body img {
  padding: 10px;
}
.vehicle-card .MuiCardActions-root.MuiCardActions-spacing.css-1t6e9jv-MuiCardActions-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-vehicle-page .css-b62m3t-container {
  width: 196px;
}
.add-vehicle-page .css-17pm3r2-MuiIcon-root {
  color: #c67f22;
}

.add-vehicle-page button {
  background: #212529db;
  color: white;
}
.add-vehicle-page button:hover {
  background: #212529db;
}
.add-vehicle-page button.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeSmall.MuiButton-outlinedSizeSmall.MuiButtonBase-root.css-1k23hlb-MuiButtonBase-root-MuiButton-root:hover {
  background: #212529db;
}

.vehicle-card .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  height: 400px;
  width: 295px;
}
textarea.add-item-desc {
  max-width: fit-content;
}

.MuiCardContent-root.small-card-footer.css-46bh2p-MuiCardContent-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  bottom: -18px;
}

.search-results {
  padding-left: 15px;
}

.vehicle-card .contact-renter a{
  padding-left: 30px;
}

.empty-results {
  margin-top: 50px;
}

.empty-results img{
  margin-top: 45px;
  max-width: 36vw;
}

.rate-title {
  padding-top: 10px;
  color: #747f7b;
}

.stars {
  color: #ffd700;
}

.upload__image-wrapper {
  width: 300px;
}

button.submit-upload {
  background: black;
  border-radius: 3px;
  color: white;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 5px 23px;
}

@media only screen and (max-width: 790px) {
  .mobile-search-side-menu{
    display: unset;
    cursor: pointer;
    z-index: 2;
    display: inline-block;
    background: #090909;
    height: fit-content;
    padding: 10px;
    color: aliceblue;
    margin-top: 42px;
    position: fixed;
    left: 0;
  }
  .search.hide{
    display: none;
  }
  .search{
    display: unset;
    z-index: 1;
    left: 0;
  }
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  background: black;
}
.logo img {
  height: 100px;
}
@media only screen and (max-width: 540px) {
  .mobile-search-side-menu {
    z-index: 2001;
  }
  .search {
    position: fixed;
    z-index: 2000;
  }
}

.homePage {
  margin: auto;
  justify-content: flex-start;
  display: flex;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.rating i {
	cursor: pointer;
}

.rating .rating-star {
	display: inline-block;
  position: relative;
  padding-right: 5px;
  margin-left: -5px;
  color: #e3cf7a;
}
.rating .selected:before {
  content: '\f005';
}

@media only screen and (min-width: 1024px) {
  .cd-slider-wrapper {
    transition: width 0.4s;
    width: 50%; 
  }
  .cd-slider-active .cd-slider-wrapper {
    width: 100%; 
  } 
}
@media only screen and (min-width: 1024px) {
  .cd-item-info {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    padding: 60px 60px 0;
  } 
}

.open-modal-btn {
  background: white;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}
.close-modal-btn {
  color: white;
  background: #3d3a3a;
  border-radius: 5px;
  position: absolute;
  padding: 0px 7px;
  right: 21px;
  top: 18px;
}
.fa-whatsapp  {
  color:#fff;
  background:
   linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat,
   radial-gradient(#25d366 60%,transparent 0);
}


.loader-circle-9 {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-family: sans-serif;
  font-size: 12px;
  color: #c67f22;
  text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.loader-circle-9:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #c67f22;
  border-right: 3px solid #c67f22;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
.loader-circle-9 span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.loader-circle-9 span:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #c67f22;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #c67f22;
}
@keyframes animateC {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
      transform: rotate(45deg);
  }
  100% {
      transform: rotate(405deg);
  }
}

.msgToMailBox {
  display:none;
  padding:15px;
  flex-direction: column;
}

.inmail-mag {
  padding:15px;
  border-radius:5px;
  margin:7px;
}
.vehicle-card button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.delete-vehicle.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: x-large;
}

.msg-card {
  border: 3px solid black;
  border-radius: 3px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 18px;
}

.msg-card-header {
  border-bottom: solid 3px black;
  background: #ececece6;
  padding: 10px;
  height: fit-content;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.msg-card-body {
  min-height: 100px;
  padding: 15px;
}

.mail-box {
  margin-top: 50px;
}

.mail-card {
  margin-bottom: 35px;
}
.vehicle-card #approve {
  display: none;
}

.vehicle-card .modal-footer button{
  background: black;
  border: none;
  display: block;
  margin: 10px;
  color: white;
  border-radius: 3px;
}

.reply-msg {
  display:none;
  padding:15px;
  flex-direction: column;
}

.msg-card-footer {
  width: fit-content;
  left: 0;
  right: 0;
  margin: 10px auto;
}
.msg-card-footer button{
  background: black;
  border: none;
  margin-top: 10px;
  color: white;
  border-radius: 3px;
}

.msg-card-footer .approve {
  display: none;
}